body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:428px;
  width:267px;
  height:32px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:1150px;
  height:270px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:270px;
}
#u3 {
  position:absolute;
  left:2px;
  top:127px;
  width:1146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:24px;
  width:144px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:20px;
  top:76px;
  width:1100px;
  height:154px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:154px;
}
#u7 {
  position:absolute;
  left:2px;
  top:69px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:32px;
  top:66px;
  width:60px;
  height:20px;
  color:#006FCC;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:32px;
  top:96px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:108px;
  top:89px;
  width:901px;
  height:30px;
  text-align:left;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:897px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:32px;
  top:186px;
  width:96px;
  height:30px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:92px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:32px;
  top:143px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:108px;
  top:136px;
  width:200px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:279px;
  top:137px;
  width:28px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:286px;
  top:142px;
  width:16px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:394px;
  top:143px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:470px;
  top:136px;
  width:200px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:641px;
  top:137px;
  width:28px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:648px;
  top:142px;
  width:16px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:760px;
  top:144px;
  width:45px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:810px;
  top:137px;
  width:200px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:981px;
  top:138px;
  width:28px;
  height:29px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:988px;
  top:143px;
  width:16px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u39 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
